<!-- Anyone who puts logic and style inside the same file cannot be trusted -->
<!doctype html>
<html>
<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/css/profile.css">
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">FSB</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="#">New Account</a></li>
      </ul>
      <ul class="left">
        <li><a href="#">Settings</a></li>
      </ul>
      <ul class="left">
        <li><a href="#">Support</a></li>
      </ul>
      <ul class="left">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </section>
  </nav>

  <div class="row">
    <!-- LOCAL INFORMATION -->
    <div class="small-12 medium-4 columns">
      <div class="well">
        <h3><img class="icon" src="static/img/pig-128.png"> <%= user.name %></h3>
          <p>
            <strong>email</strong>: <%= user.email %><br>
          </p>
      </div>
    </div>

    <div class="small-12 columns medium-8">
        <% for(var account of user.accounts) { %>
        <h3><span class="fa fa-dollar"></span> <%= account.name %></h3>
        <a onclick="setData(true, '<%=account._id%>')" data-reveal-id="myModal" class="button radius small">Withdraw</a>
        <a onclick="setData(false, '<%=account._id%>')" data-reveal-id="myModal" class="button radius small">Deposit</a>
        <p>
          <strong>Balance</strong>: <%=parseFloat(account.balance).toFixed(2)%><br>
          <table class="tLog">
            
            <tr><td><strong>Transaction Log</strong></td></tr>
            <tr>
              <td><strong>Date</strong></td>
              <td><strong>Amount</strong></td>
              <td><strong>Description</strong></td>
            </tr>
            <% for(var transaction of account.transactions) { %>
            <tr>
              <td><%= transaction.date.toString().split(" ").slice(0, -2).join(" ") %></td>
              <td class="text-right amount"><%= parseFloat(transaction.amount).toFixed(2) %></td>
              <td><%= transaction.description %></td>
            </tr>
            <% } %>
          </table>
        </p>
        <% } %>
      </div>
  </div>

  <div id="myModal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <h4 class="modal-title">Please Confirm this Transaction 
      <% 
        var d = new Date();

        var month = d.getMonth()+1;
        var day = d.getDate();

        var output =  (month<10 ? '0' : '') + month + '/' +
          (day<10 ? '0' : '') + day + '/' + d.getFullYear()
      %>

       <%=output%>
    </h4>
    <div>
      <label>Amount </label> 
      <input id="amount" placeholder="0.00" style="text-align: right"> </input>
    </div>
    <div>
      <label>Description </label> 
      <input id="desc" placeholder="" style="text-align: right"> </input>
    </div>
    <hr>
    <div class="row">
      <button id="cancel" type="button" class="button">Cancel</button>
      <button id="confirm" type="button" class="button">Make Deposit</button>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>

  <script src="static/js/profile.js"></script>
</body>
</html>
